.spError {
  text-align: center;
  color: #b50e0e;
  padding: 5px;
  background: #0001;
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
  border: 1px solid;
  margin: 5px 0;
  font-weight: 500;
  letter-spacing: 0.6px;
  box-shadow: 0 1px 1px #0003;
}

.spEnable {
    flex: 0 0 1em;
    text-align: center;
    padding: 0.2em;
    opacity: 0.8;
    vertical-align: middle;
}
.spEnable > label {
  cursor:pointer;
}
.visually-hidden {
  visibility:hidden;
  width:0 !important;
  height:0 !important;
  overflow:hidden;
  position:absolute;
}

input.spEnableInput.visually-hidden + .spEnableCheck:before {
  content:"\f111";
  font-weight:100;
}
input.spEnableInput.visually-hidden:checked + .spEnableCheck:before {
  content:"\f00c";
  font-weight:600;
}

.spEnable .no-edit {
  display:none;
}

.tidy5e-sheet .spEnable .no-edit {
    opacity: 0.5;
    cursor: not-allowed;
    display: inline-block;
    flex: 0;
    white-space: nowrap;
    font-style: italic;
}
.tidy5e-sheet.allow-edit .spEnable .no-edit {display:none;}
.tidy5e-sheet .spEnable .edit-allowed { display:none;}
.tidy5e-sheet.allow-edit .spEnable .edit-allowed { display:block;}

textarea.spellPoints {
  width: 100%;
  resize: none;
}

div.spell-points-hidden {
  display:none;
}
