:root {
  --sp-left-color: #3a0e5f;
  --sp-right-color: #8a40c7;
  --sp-animation-name: scroll;
}

.spError {
  text-align: center;
  color: #b50e0e;
  padding: 5px;
  background: #0001;
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
  border: 1px solid;
  margin: 5px 0;
  font-weight: 500;
  letter-spacing: 0.6px;
  box-shadow: 0 1px 1px #0003;
}

.spEnable {
  flex: 0 0 1em;
  text-align: center;
  padding: 0.2em;
  opacity: 0.8;
  vertical-align: middle;
  white-space: nowrap;
}

.spEnable>label {
  cursor: pointer;
}

.visually-hidden {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
  position: absolute;
}

input.spEnableInput.visually-hidden+.spEnableCheck:before {
  content: "\f111";
  font-weight: 100;
}

input.spEnableInput.visually-hidden:checked+.spEnableCheck:before {
  content: "\f00c";
  font-weight: 600;
}

.spEnable .no-edit {
  display: none;
}

.tidy5e-sheet .spEnable .no-edit {
  opacity: 0.5;
  cursor: not-allowed;
  display: inline-block;
  flex: 0;
  white-space: nowrap;
  font-style: italic;
}

.tidy5e-sheet.allow-edit .spEnable .no-edit {
  display: none;
}

.tidy5e-sheet .spEnable .edit-allowed {
  display: none;
}

.tidy5e-sheet.allow-edit .spEnable .edit-allowed {
  display: block;
}

textarea.spellPoints {
  width: 100%;
  resize: vertical;
  min-height: 2em;
}

textarea.spellPoints[name="spCustomFormulaBase"] {
  min-height: 5em;
}

div.spell-points-hidden {
  display: none;
}



form.dnd5e-spellpoints .color_test,
.sheet.actor.character .sheet-body .sidebar .card .meter.sp-points .progress::before {
  background: linear-gradient(to right, var(--sp-left-color), var(--sp-right-color), var(--sp-left-color));
  border-right: var(--border-width) solid var(--sp-left-color);
  border-radius: 4px 0 0 4px;
  background-size: 200% 100%;
}

form.dnd5e-spellpoints .color_test {
  border-radius: 4px !important;
  min-height: 15px;
  padding: 2px 6px;
  border: 1px solid var(--dnd5e-color-gold);
}

.window-app.spellpoints-cast {
  height: auto !important;
  overflow: hidden;
}

#spellpoints-form .description.new-item {
  border: 1px solid #24a795;
  margin: 5px;
  padding: 0 10px 10px;
  border-radius: 5px;
  background: #00a9aa33;
  text-align: center;
}

#spellpoints-form {
  min-width: min(600px, 100vw);
}

#spellpoints-form .window-content {
  padding-top: 0;
  padding-bottom: 0;
}

#spellpoints-form .spFormTitle {
  position: sticky;
  top: 0;
  padding: 5px 0;
  background-image: url(/ui/parchment.jpg);
  background-color: #dbdacf;
}

#spellpoints-form footer {
  position: sticky;
  bottom: 0;
  padding: 5px 0;
  background-image: url(/ui/parchment.jpg);
  background-color: #dbdacf;
}

input.number-lg.spellpoints_value {
  margin-right: 10px;
}

/** item config **/

.spellpoints.item-config {
  margin: 0 0 20px;
  background: #00000006;
  border: 3px double #aaa;
}

.spellpoints.item-config .accordion-content {
  padding: 5px;
}

.spellpoints.item-config .spellpoints-costs>label {
  flex: 3;
}

.bordered {
  border: 1px solid #796161;
  padding: 10px;
  margin: 15px 0;
  background: #449ac514;
  border-radius: 3px;
}

.spell-points-types {
  text-align: center;
}

.spell-points-types span {
  display: block;
}

.spell-points-types input {
  width: 2em;
}

form.dnd5e-spellpoints .color_test,
.progress.sp-points:before {
  -webkit-animation: var(--sp-animation-name) 5s linear infinite;
  -moz-animation: var(--sp-animation-name) 5s linear infinite;
  -o-animation: var(--sp-animation-name) 5s linear infinite;
  animation: var(--sp-animation-name) 5s linear infinite;
}

@-webkit-keyframes scroll {
  0% {
    background-position: 0 0
  }

  100% {
    background-position: -200% 0%
  }
}

@-moz-keyframes scroll {
  0% {
    background-position: 0 0
  }

  100% {
    background-position: -200% 0%
  }
}

@-o-keyframes scroll {
  0% {
    background-position: 0 0
  }

  100% {
    background-position: -200% 0%
  }
}

@keyframes scroll {
  0% {
    background-position: 0 0
  }

  100% {
    background-position: -200% 0%
  }
}