<div class="form-group">
  <label>Consume {{itemName}}</label>
  <p class="hint"><i>Disabling "Consume Spell Slot" will also prevent
      {{itemName}}
      consumption.</i></p>
  <div class="form-fields">
    <!-- <dnd5e-checkbox name="consumption.spellPoints" checked="{{spellPointsEnabled}}" tabindex="0"></dnd5e-checkbox> -->
    <!-- <p class="hint"><i>Disabling "Consume Spell Slot" will also prevent
        {{itemName}}
        consumption.</i></p> -->
  </div>
</div>